---
const { color, title, subtitle } = Astro.props;
const textColor = `text-${color}`;
---
<section
       class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
       data-header-color={color}
>
       <div class="z-30 relative h-full flex flex-col">
              <header>
                     <h2
                            class={`${textColor} pt-[5rem] text-[30px] font-bold-300 font-medium`}
                     >
                            {title}
                     </h2>
                     <a
                            class={`text-sm p-5 underline treansition-colors ${textColor}`}
                            href="#">{subtitle}</a
                     >
              </header>

              <footer
                     class="flex flex-grow flex-nowrap flex-col justify-end pb-5"
              >
                     <div class="flex justify-center gap-x-4">
                            <slot name="footer"></slot>
                     </div>
                     <a
                            class={`text-sm p-5 underline treansition-colors ${textColor}`}
                            href="#">Disponible con moves III</a
                     >
              </footer>
       </div>

       <div class="absolute top-0 bottom-0 z-10">
              <slot name="background"></slot>
       </div>
</section>
